html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #141313;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: #13C4A3;
    font-size: 1.60465116279vw; /*23px*/
    padding: 0px;
    margin: 0px;
}

h3 {
    color: #FFFFFF;
    font-size: 1.25581395349vw; /*18px*/
    padding: 0px;
    margin: 0px;
}

h4 {
    color: #6FB3D3;
    font-size: 1.25581395349vw; /*18px*/
    padding: 0px;
    margin: 0px;
}

p {
    color: #6FB3D3;
    font-size: 0.837209302326vw; /*12px*/
    padding: 0px;
    margin: 0px;
}

.container {
    border: 0.558139534884vw solid #D3C4D1; /*8px*/
    border-radius: 0.697674418605vw; /*10px*/
}

#main {
    margin: auto;
    width: 50%;
    height: 41.8604651163vw; /*600px*/
    display: flex;
}

#info {
    width: 30%;
    height: 100%;
}

#stats {
    width: 70%;
    height: 100%;
    transform: translateX(0.697674418605vw); /*10px*/
}

#coverimg {
    width: 100%;
}

#image {
    width: 100%;
    height: 50%;
}

#desc {
    width: 100%;
    height: 50%;
    transform: translateY(-0.697674418605vw); /*10px*/
}

#prog {
    width: 100%;
    height: 25%;
}

#arcs {
    width: 100%;
    height: 50%;
    transform: translateY(-0.697674418605vw); /*10px*/
}

#chaps {
    width: 100%;
    height: 24%;
    transform: translateY(-1.39534883721vw); /*20px*/
}

#chaptxt {
    width: 100%;
}

#progbar {
    border-radius: 0.348837209302vw; /*5px*/
    width: 90%;
    height: 1.39534883721vw; /*20px*/
    margin: 5%;
}

#progbar::-webkit-progress-bar {
    background-color: #6F8AB7;
    border-radius: 5px;
}

#progbar::-webkit-progress-value {
    background-color: #59C9A5;
    border-radius: 5px;
}

#progbar::-moz-progress-bar {
    background-color: #59C9A5;
    border-radius: 5px;
}

.bar {
    border-radius: 0.348837209302vw; /*5px*/
    width: 21.976744186vw; /*315px*/
    height: 1.39534883721vw; /*20px*/
    
    padding: 0vw;
    float: right;
}

.bar::-webkit-progress-bar {
    background-color: #6F8AB7;
    border-radius: 5px;
}

.bar::-webkit-progress-value {
    background-color: #59C9A5;
    border-radius: 5px;
}

.bar::-moz-progress-bar {
    background-color: #59C9A5;
    border-radius: 5px;
}

/*
ul {
    color: #6FB3D3;
    font-size: 1.25581395349vw;
    margin: 0px;
    column-count: 3;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

li {
    list-style-type: "> ";
}
*/

#arcnums {
    text-align: center;
    transform: translate(0.279069767442vw, -15.6976744186vw); /*4px, -225px*/
    width: 21.976744186vw;
    float: right;
}

.num {
    opacity: 0.0;
    transition: opacity 0.2s;
}

.num:hover {opacity: 1.0;}

table {
    width: 100%;
}
